<% content_for :navigation do %>
  <div class="nav">
    <div class="table">
  	<ul class="<%= active('dashboard') %>">
  	  <li>
  	     <% if current_user.is_a?(User) %>
           <%= link_to dashboard_index_path do %>
             <b>Dashboard</b>
           <% end %>
         <% else %>
           <%= link_to admins_dashboard_index_path do %>
             <b>Dashboard</b>
           <% end %>
  	    <% end %>
  	  </li>
  	</ul>
  	
    <% unless current_user.is_a?(User) %>
      <div class="nav-divider">&nbsp;</div>
  	  <ul class="<%= active('users') %>">
  	    <li>
  	      <%= link_to admins_users_path do %>
  	        <b>Users</b>
          <% end %>
  	    </li>
  	  </ul>
    <% end %>
    
    <div class="nav-divider">&nbsp;</div>

  	<ul class="<%= active('tasks') %>">
  	  <li>
        <% if current_user.is_a?(User) %>
  	      <%= link_to tasks_path do %>
  	        <b>Tasks</b>
  	      <% end %>
        <% else %>
          <%= link_to admins_tasks_path do %>
            <b>Tasks</b>
          <% end %>
        <% end %>
  	  </li>
  	</ul>
  	<!-- class current para selecionar -->
  	<div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>

<% end %>
