<tr>
  <th valign="top">First Name:</th>
  <td><%= f.text_field :first_name, :class => mark_error(resource, :first_name) %></td>
  <td>
 	<%= render :partial => "shared/error", :locals => { :f => f, :field => :first_name } %>
  </td>
</tr>
<tr>
  <th valign="top">Last Name:</th>
  <td><%= f.text_field :last_name, :class => mark_error(resource, :last_name) %></td>
  <td>
    <%= render :partial => "shared/error", :locals => { :f => f, :field => :last_name } %>
  </td>
</tr>
<tr>
  <th valign="top">Email:</th>
  <td><%= f.text_field :email, :class => mark_error(resource, :email) %></td>
  <td>
    <%= render :partial => "shared/error", :locals => { :f => f, :field => :email } %>
  </td>
</tr>

<% unless edit %>
  <tr>
    <th valign="top">Password:</th>
    <td><%= f.password_field :password, :class => mark_error(resource, :password) %></td>
    <td>
      <%= render :partial => "shared/error", :locals => { :f => f, :field => :password } %>
    </td>
  </tr>
  <tr>
    <th valign="top">Password Confirmation:</th>
    <td><%= f.password_field :password_confirmation, :class => mark_error(resource, :password_confirmation) %></td>
    <td>
      <%= render :partial => "shared/error", :locals => { :f => f, :field => :password_confirmation } %>
    </td>
  </tr>
<% end %>
