<%= render :partial => "shared/nav_right" %>
<%= render :partial => "shared/navigation" %>

<%= render :partial => "shared/notice" %>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <%= render :partial => "header" %>
  <% @users.each do |user| %>
    <tr class="<%= cycle("", "alternate-row")%>">
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td class="options-width">
  	    <%= link_to "", edit_admins_user_path(user), :class => "icon-1 info-tooltip" %>
        <%= link_to "", admins_user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => "icon-2 info-tooltip" %>
	    <%= link_to "", admins_user_path(user), :class => "icon-5 info-tooltip" %>
	  </td>
	<tr> 
  <% end %>
</table>
