<%= f.error_messages %>
<tr>
	<th valign="top">Title:</th>
 	<td><%= f.text_field :title, :class => "inp-form" %></td>
</tr>
<tr>
	<th valign="top">Description:</th>
 	<td><%= f.text_area :description, :class => "form-textarea" %></td>
</tr>
<tr>
	<th valign="top">Status:</th>
 	<td><%= f.select :status, options_for_select(["Open", "Working", "Close"]), {}, { :class => "styledselect_form_1" } %></td>
</tr>
<tr>
	<th valign="top">Priority:</th>
 	<td><%= f.select :priority, options_for_select(["Hight", "Medium", "Low"]), {}, :class => "styledselect_form_1" %></td>
</tr>
<tr>
	<th valign="top">User:</th>
 	<td><%= f.select :user_id, User.find(:all).collect{ |u| [u.full_name, u.id]}, {}, :class => "styledselect_form_1" %></td>
</tr>
<tr>
	<th valign="top">Start:</th>
 	<td><%= f.date_select :start_date, { :order => [:day, :month, :year] }, { :class => "styledselect-day" } %></td>
</tr>
<tr>
	<th valign="top">End:</th>
 	<td><%= f.date_select :end_date, { :order => [:day, :month, :year] }, { :class => "styledselect-day" } %></td>
</tr>
