<%= render :partial => "shared/nav_right" %>
<%= render :partial => "shared/navigation" %>

<%= render :partial => "shared/notice" %>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
  <%= render :partial => "header" %>
  <% @tasks.each do |task| %>
	<tr class="<%= cycle("", "alternate-row")%>">
	  <td><%= task.title %></td>
	  <td><%= task.status %></td>
	  <td><%= task.priority %></td>
	  <td><%= task.user.full_name %></td>
	  <td class="options-width">
		<%= link_to "", edit_admins_task_path(task), :class => "icon-1 info-tooltip" %>
	 	<%= link_to "", admins_task_path(task), :method => :delete, :confirm => 'Are you sure?', :class => "icon-2 info-tooltip" %>
	 	<%= link_to "", admins_task_path(task), :class => "icon-5 info-tooltip" %>
	  </td>
   	<tr> 
  <% end %>
</table>
