<h3><%= @task.title %></h3>
<%= @task.status %><br/>
<%= @task.priority %><br/>
<%= @task.start_date %><br/>
<%= @task.end_date %><br/>
<%= @task.description %>

<%= render :partial => "shared/comments" %>
