<%= render :partial => "shared/nav_right" %>
<%= render :partial => "shared/navigation" %>

<h3><%= @message.subject %></h3>
<span class="content-text"><%= @message.body %></span>

<%= render :partial => "users" %>