<!DOCTYPE html>
<html>
<head>
  <title>Yamamusic</title>
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "jquery-1.4.1.min", "rails", "ui.core", "ui.checkbox", "jquery.bind", "jquery.selectbox-0.5", "jquery.selectbox-0.5_style_2", "custom_jquery", "jquery.filestyle", "jquery.tooltip", "jquery.dimensions" %>

  <%= stylesheet_link_tag "datePicker" %>
  <%= javascript_include_tag "date", "jquery.datePicker", "jquery.pngFix.pack" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
</head>
<body>

	<!-- Start: page-top-outer -->
	<div id="page-top-outer">    

	  <!-- Start: page-top -->
	  <div id="page-top">

		<!-- start logo -->
		<div id="logo">
		 <%= link_to image_tag("../images/shared/logo.png", :size => "156x40"), root_url %>
		</div>
		<!-- end logo -->
		
		<div class="clear"></div>

	  </div>
	  <!-- End: page-top -->

	</div>
	<!-- End: page-top-outer -->
		
	<div class="clear">&nbsp;</div>
	 
	<!--  start nav-outer-repeat........................................................................................ START -->
	<div class="nav-outer-repeat"> 
	  <!--  start nav-outer -->
	  <div class="nav-outer"> 
		<!-- start nav-right -->
		<%= yield :right_nav %>
		<!-- end nav-right -->

		<!--  start nav -->
		<%= yield :navigation %>
		<!--  end nav -->
	  </div>
	  <div class="clear"></div>
	  <!--  end nav-outer -->
	</div>
	<!--  start nav-outer-repeat................................................... END -->

	<div class="clear"></div>
	
	<div id="content-outer">
    <!-- start content -->
    <div id="content">
	    <!--  start page-heading -->
	    <div id="page-heading"><h1><%= link_to_new_resource %></h1></div>	    
	    <!-- end page-heading -->

	    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
				<tr>
					<th rowspan="3" class="sized"><%= image_tag "../images/shared/side_shadowleft.jpg", :size => "20x300" %></th>
					<th class="topleft"></th>
					<td id="tbl-border-top">&nbsp;</td>
					<th class="topright"></th>
					<th rowspan="3" class="sized"><%= image_tag "../images/shared/side_shadowright.jpg", :size => "20x300" %></th>
				</tr>
				<tr>
					<td id="tbl-border-left"></td>
					<td>
						<!--  start content-table-inner ...................................................................... START -->
						<div id="content-table-inner">
			
							<!--  start table-content  -->
							<div id="table-content">
 							  <%= yield :notice %>
                              <%= yield %>
							</div>
							<!--  end content-table  -->
			      	<div class="clear"></div>
			      </div>
						<!--  end content-table-inner ............................................END  -->
					</td>
					<td id="tbl-border-right"></td>
				</tr>
				<tr>
					<th class="sized bottomleft"></th>
					<td id="tbl-border-bottom">&nbsp;</td>
					<th class="sized bottomright"></th>
				</tr>
			</table>
			<div class="clear">&nbsp;</div>

		</div>
		<!--  end content -->
		<div class="clear">&nbsp;</div>
	</div>
	<!--  end content-outer........................................................END -->

	<div class="clear">&nbsp;</div>
	     
	<!-- start footer -->         
	<div id="footer">
		<!--  start footer-left -->
		<div id="footer-left">
			<span id="spanYear"></span> <a href=""></a> All rights reserved.
		</div>
		<!--  end footer-left -->
		<div class="clear">&nbsp;</div>
	</div>
	<!-- end footer -->
</body>
</html>
